.nav_bar {
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 0 20px 5px;
    margin-bottom: 80px;
}


.nav_links {

display: flex;
padding: 1rem;
vertical-align: middle;

}

.nav_link {
    border-radius: 2rem;
    color: azure;
    text-align: center;
    width: 7rem;
    height: 2rem;
    margin: 1rem;
}

.nav_link:hover {
    cursor: pointer;
    background-color: azure;
    color: black;
}


.nav_icons {
    width: 6rem;
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.nav_icon {
    color: azure;
    margin: 1rem;
    width: 7rem;
    height: 3rem;
}


.nav_logo {
    color: azure;
}